@font-face {
    font-family: CyberwayRiders;
    src: url("./Fonts/CyberwayRiders-lg97d.ttf");
}

/****************************************
/* LAYOUT
/***************************************/
html {
    /* For footer support */
    position: relative;
    min-height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fcee0a;
    text-shadow: 2px 2px 3px #00ffff;
    font-family: CyberwayRiders, sans-serif;
    background: #121212;
}
body > * {
    display: flex;
    justify-content: center;
    width: 642px;
}
header {
    font-size: 36px;
    text-transform: uppercase;
}
h1 {
    margin: 25px 0;
}

/***** CONTAINER *****/
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 640px;
    height: 640px;
    border: 1px solid #696969;
    cursor: crosshair;
    /* For mouseup firing issue when selecting a square and dragging quickly */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/***** SQUARE GRID *****/
.column {
    display: flex;
    flex-direction: column;             /* Make column of flex boxes vertical */
    height: auto;
    flex: 1 0 auto;    
}
.square {
    flex: 1;                            /* Make squares evenly distributed */
}

/***** SETTINGS OPTIONS *****/
body > section {
    display: flex;
    justify-content: space-around;
    color: #00ffff;
    text-shadow: 1px 1px 2px hotpink;
    font-size: 18px;
    letter-spacing: 2.5px;
}
.sliderSize * {
    width: 25%;
    margin: 15px 0;
}
#gridSlider {
    width: 50%;
    accent-color: #00ffff;
    cursor: grabbing;
}
.settings {
    display: flex;
    justify-content: center;
    text-shadow: none;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: normal;
    padding-bottom: 50px;
}
.backgroundColor, 
.penColor {
    position: relative;
}
.backgroundColor input, 
.penColor input {
    position: absolute;
    bottom: 0;
}
.backgroundColor label,
.penColor label {
    position: relative;
    display: flex;    
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 98px;
    color: #00ffff;
    text-shadow: 0 0 1px hotpink, 0 0 1px hotpink, 0 0 1px hotpink, 0 0 1px hotpink;
    background: #eaeaea;
    border: 1px solid #00ffff;
    cursor: pointer;
}
.penColor label {
    background: #696969;
}
input[type="color"] {
	-webkit-appearance: none;
	border: none;
    height: 50px;
	width: 100px;
    padding: 0;
    visibility: hidden;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
button {
    height: 50px;
    width: 100px;
    color: #00ffff;
    text-shadow: 0 0 1px hotpink, 0 0 1px hotpink, 0 0 1px hotpink, 0 0 1px hotpink;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    background-size: 15px 15px;
    border: 1px solid #00ffff;
    cursor: pointer;
}
button:hover {
    background: #696969 !important;
}
footer {
    position: absolute;
    bottom: 0;
    text-shadow: none;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
footer a {
    color: #fcee0a;
    text-decoration: none;
}
footer a:first-child:hover {
    font-family: CyberwayRiders, sans-serif;
    font-size: 14px;
    text-shadow: 1px 1px 1.5px #00ffff;
    letter-spacing: 2.5px;
}
.fa-github {
    transition: transform 0.5s ease-in;
}
.fa-github:hover {
    transform: scale(1.3) rotateY(360deg);
}