/****************************************
/* LAYOUT
/***************************************/
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
    background: black;
    /* justify-content: center; */
}
main {
    display: flex;
    justify-content: center;
}

/***** CONTAINER *****/
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 640px;
    height: 640px;
    /* background-color: white; */
    border: 2px solid #696969;
}

/***** SQUARE GRID *****/
.column {
    display: flex;
    flex-direction: column;             /* Make column of flex boxes vertical */
    height: auto;
    flex: 1 0 auto;    
}
.square {
    flex: 1;                            /* Make squares evenly distributed */
    border: 1px solid #696969;
}

/***** SETTINGS MENU *****/
.settings {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
}
.penColor {
    display: flex;
    flex-direction: column;
    align-items: center;
}
