/****************************************
/* LAYOUT
/***************************************/
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: center; */
}
main {
    display: flex;
    justify-content: center;
}

/***** CONTAINER *****/
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 640px;
    height: 640px;
    background-color: aqua;
}

/***** SQUARE GRID *****/
.column {
    display: flex;
    flex-direction: column;             /* Make column of flex boxes vertical */
    height: auto;
    flex: 1 0 auto;    
}
.square {
    flex: 1;                            /* Make squares evenly distributed */
    border: 1px solid black;
}

/***** OPTIONS MENU *****/
